*{
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.wrapper{
  width: 1170px;
  margin: 0 auto;
}

header{
  height: 75px;
  background: #262626;
  width: 100%;
  z-index: 12;
  position: fixed;
}

header .logo {
  width: 20%;
  float: left;
  line-height: 75px;
}

header .logo a{
  text-decoration: none;
  font-size: 20px;
  font-family: "Cinzel";
  font-weight: 500;
  color: #fff;
  letter-spacing: 5px;
}

header nav .nav-items{
  float: left;
  padding-left: 80px;
  line-height: 75px;
}

header nav .socials {
  float: right;
  line-height: 75px;
  padding-right: 10px;
}

header nav a{
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
  margin: 0 10px;
  color: #fff;
  transition-timing-function: ease;
}

header nav .nav-items a:hover {
  opacity: 0.7;
  font-size: 17px;
}

header nav .socials a:hover {
  opacity: 0.7;
}

.banner-area {
  width: 100%;
  height: 500px;
  position: fixed;
/*  top: 100px;*/
/*  background-image: url(images/something.jpg);
  -webkit-background-size: cover;*/
  background: linear-gradient(to bottom right, rgba(143,168,217,1) 0%, rgba(191,105,153,1) 50%, rgba(130,84,132,1) 78%, rgba(69,72,140,1) 100%);
  background-size: cover;
  background-position: center center;
}

.banner-area h1 {
  padding-top: 15%;
  line-height: 110%;
  font-size: 70px;
  font-family: "Cinzel";
  letter-spacing: 5px;
/*  text-transform: uppercase;*/
  color: #fff;
}

.banner-area h2 {
/*  line-height: 150px;*/
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 400;
  color: #fff;
}

.content-area {
  width: 100%;
  position: relative;
/*  top: 450px;*/
  background: #fff;
  height: 3500px;
}

.content-area hr {
  border-top: 2px solid #8FA8D9;
  width: 85%;
  margin: auto;
  border-radius: 5px;
}

.heading h2 {
  text-decoration: none;
  font-family: "Cinzel";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  padding-top: 6%;
  padding-bottom: 2%;
}

.heading {
  background: #fff;
}


.digital-art {
  padding: 3%;
}

.dig {
  width: 335px;
  height: 440px;
  padding-right: 2%;
}

footer {
  width: 100%;
  position: relative;
/*  top: 450px;*/
  background: #262626;
  height: 350px;
}

footer .footer-logo {
  padding-top: 4%; 
}

footer h1 {
  font-family: "Cinzel";
  font-size: 60px;
  color: #fff;
}

footer nav .footer-nav {
  margin: auto;
  line-height: 75px;
}

footer nav .footer-socials {
  margin: auto;
  padding-right: 10px;
}

footer nav a{
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 12px;
  margin: 0 10px;
  color: #fff;
  transition-timing-function: ease;
}

footer nav .footer-nav a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

footer nav .footer-socials a:hover {
  opacity: 0.7;
}
