title {
  display: none;
}

.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.main-menu {
  position: fixed; 
  top: 0; 
  width: 100%;
}



.main-menu li {
  float: left;
}

.main-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.main-menu li a:hover {
  background-color: #111;
}

.socials ul {
	list-style-type: none;
}

.socials li {
	margin-bottom: 10px;
}

.socials {
	position: fixed;
  right: 0px;
  padding: 75px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #808080;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.content{
  margin: 0 auto;
  padding: 10px;
}