*{
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.wrapper{
  width: 1170px;
  margin: 0 auto;
}

header{
  height: 75px;
  background: #262626;
  width: 100%;
  z-index: 12;
  position: fixed;
}

header .logo {
  width: 20%;
  float: left;
  line-height: 75px;
}

header .logo a{
  text-decoration: none;
  font-size: 20px;
  font-family: "Cinzel";
  font-weight: 500;
  color: #fff;
  letter-spacing: 5px;
}

header nav .nav-items{
  float: left;
  padding-left: 120px;
  line-height: 75px;
}

header nav .socials {
  float: right;
  line-height: 75px;
  padding-right: 10px;
}

header nav a{
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
  margin: 0 10px;
  color: #fff;
  transition-timing-function: ease;
}

header nav .nav-items a:hover {
  opacity: 0.7;
  font-size: 17px;
}

header nav .socials a:hover {
  opacity: 0.7;
}

.content-area {
  width: 100%;
  top:100px;
  position: relative;
  background: #fff;
  height: 3400px;
}

.content-area hr {
  border-top: 2px solid #8FA8D9;
  width: 85%;
  margin: auto;
  border-radius: 5px;
}

.heading h2 {
  text-decoration: none;
  font-family: "Cinzel";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  padding-top: 6%;
  padding-bottom: 2%;
}

.heading {
  background: #fff;
}

.project-highlights {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4%;
}

.project-highlights p {
  text-align: left;
  line-height: 150%;
  font-family: "Raleway";
  font-weight: 400;
  padding: 10px;
}

.project-highlights p b {
  font-weight: 600;
}

.project-highlights h3 {
  padding: 4%;
  font-family: "Cinzel";
  font-size: 25px;
  text-transform: uppercase;
  color: #BF6999;
}

.project a:link {
  color: #45488C;
  text-decoration: underline;
}

.project a:visited {
  color: #524373;
  text-decoration: underline;
}

.demo {
  padding-top: 4%;
}

.climate-change-vid {
  padding-top: 4%;
  padding-bottom: 4%;
}

.project {
  padding-bottom: 4%;
}

.slow {
  width:960px;
  height:540px;
  border:0;
}

footer {
  width: 100%;
  position: relative;
  top: 450px;
  background: #262626;
  height: 350px;
}

footer .footer-logo {
  padding-top: 4%; 
}

footer h1 {
  font-family: "Cinzel";
  font-size: 60px;
  color: #fff;
}

footer nav .footer-nav {
  margin: auto;
  line-height: 75px;
}

footer nav .footer-socials {
  margin: auto;
  padding-right: 10px;
}

footer nav a{
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 12px;
  margin: 0 10px;
  color: #fff;
  transition-timing-function: ease;
}

footer nav .footer-nav a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

footer nav .footer-socials a:hover {
  opacity: 0.7;
}
