/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background: #262626;
  width: 100%;
  position: fixed;
}

header .logo {
  justify-self: start;
  align-self: center;
}

header .logo a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Cinzel";
  font-weight: 500;
  color: #fff;
  letter-spacing: 5px;
}

header .nav-items {
  justify-self: center;
  align-self: center;
}

header .nav-items a {
  font-size: 15px;
}

.nav-text {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
  margin: 0 10px;
  color: #fff;
  transition-timing-function: ease;
}

header .socials {
  justify-self: end;
  align-self: center;
}

.fa {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

header .nav-items a:hover {
  opacity: 0.7;
  font-size: 17px;
}

header .socials a:hover {
  opacity: 0.7;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background: #262626;
}

footer h1 {
  font-family: "Cinzel";
  font-size: 60px;
  color: #fff;
}

footer .footer-nav {
  margin: 25px 0 45px;
}

footer .footer-nav a {
  font-size: 12px;
}

footer .footer-nav a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

footer .footer-socials a:hover {
  opacity: 0.7;
}

.content-area {
  width: 100%;
}

.content-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 50%;
  margin: 0 auto;
}

/*
.banner-area {
  width: 100%;
  height: 500px;
  position: fixed;
  background: linear-gradient(to bottom right, rgba(143,168,217,1) 0%, rgba(191,105,153,1) 50%, rgba(130,84,132,1) 78%, rgba(69,72,140,1) 100%);
  background-size: cover;
  background-position: center center;
}

.banner-area h1 {
  padding-top: 15%;
  line-height: 110%;
  font-size: 70px;
  font-family: "Cinzel";
  letter-spacing: 5px;
  color: #fff;
}

.banner-area h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 400;
  color: #fff;
}

.content-area {
  width: 100%;
  position: relative;
  top: 450px;
  background: #fff;
  height: 3400px;
}

.content-area hr {
  border-top: 2px solid #8FA8D9;
  width: 85%;
  margin: auto;
  border-radius: 5px;
}

.heading h2 {
  text-decoration: none;
  font-family: "Cinzel";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  padding-top: 6%;
  padding-bottom: 2%;
}

.heading {
  background: #fff;
}

.project-highlights {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4%;
}

.project-highlights p {
  text-align: left;
  line-height: 150%;
  font-family: "Raleway";
  font-weight: 400;
  padding: 10px;
}

.project-highlights p b {
  font-weight: 600;
}

.project-highlights h3 {
  padding: 4%;
  font-family: "Cinzel";
  font-size: 25px;
  text-transform: uppercase;
  color: #BF6999;
}

.project a:link {
  color: #45488C;
  text-decoration: underline;
}

.project a:visited {
  color: #524373;
  text-decoration: underline;
}

.slime-climb {
  padding-top: 4%;
}

.climate-change-vid {
  padding-top: 4%;
  padding-bottom: 4%;
}

.project {
  padding-bottom: 4%;
}


.digital-art {
  padding: 3%;
}

.dig {
  width: 335px;
  height: 440px;
  padding-right: 2%;
}

.see-more-btn {
  padding: 4%;
}

.see-more-btn button {
  background-color: #524373;
  border: none;
  padding: 15px 32px;
  border-radius: 20px;
}

.see-more-btn button a {
  text-decoration: none;
  color: white;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
}

.see-more-btn button:hover {
  background-color: #8FA8D9;
}

footer {
  width: 100%;
  position: relative;
  top: 450px;
  background: #262626;
  height: 350px;
}

footer .footer-logo {
  padding-top: 4%; 
}

footer h1 {
  font-family: "Cinzel";
  font-size: 60px;
  color: #fff;
}

footer nav .footer-nav {
  margin: auto;
  line-height: 75px;
}

footer nav .footer-socials {
  margin: auto;
  padding-right: 10px;
}

footer nav a {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 12px;
  margin: 0 10px;
  color: #fff;
  transition-timing-function: ease;
}

footer nav .footer-nav a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

footer nav .footer-socials a:hover {
  opacity: 0.7;
} */
